.carrossel__titulo {
    background-color: var(--cor-de-fundo-secoes);
    padding: 1.30em;
    text-transform: uppercase;
    color: var(--cor-titulo);
    font-weight: 700;
    text-align: center;
    font-size: 1.13em;
}

.swiper-slide img { 
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 1em 0;
}

.card {
    background-color: var(--cor-de-fundo-secoes);
    margin: 1.5em;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__container {
    display: flex;
    justify-content: space-between;
}

.card__descrição {
    margin: 1em 0 1em 1em;
}

.card__descrição_conteudo__titulo {
    color: var(--cor-titulo);
    font-weight: 600;
}

.card__descrição_conteudo__livro {
    color: var(--cor-titulo-secundario);
    font-weight: 600;
    font-size: 1.12em;
    margin: 1em 0;
}

.card__descrição_conteudo__texto {
    font-size: 0.87em;
}

.card__imagem {
    margin: 1em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.card__botoes__fav-shop {
    margin-left: 2em;
    display: flex;
    gap: 2em;
}

.card__botoes__saiba-mais {
    margin: 1em;
}

.card__botoes__saiba-mais__botao {
    font-weight: 600;
    text-decoration: none;
    background-color: var(--cor-titulo);
    color: var(--cor-texto-banner);
    padding: 1em 2.2em;
}