body {
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.cabecalho {
    background-color: var(--cor-de-fundo-secoes);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__container {
    display: flex;
    align-items: center;
}

.cabecalho__container__menu {
    display: none;
}

.cabecalho__menu__hamburguer {
    width: 2.5rem;
    height: 2.5rem;
    background: url(../assets/Menu.svg) no-repeat center;
    display: inline-block;
}

.cabecalho__container__menu:checked~.lista__menu {
    display: block;

}

.cabecalho__container__imagem {
    padding: 1em;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 72vw;
    z-index: 999;
}

.lista__menu__titulo, .lista__menu__item {
    padding: 1.5rem;
    background-color: var(--cor-de-fundo-secoes); 
}

.lista__menu__titulo {
    color: var(--cor-titulo);
    font-weight: 600;
}

.lista__menu__item__link {
    text-decoration: none;
    background: var(--cor-linear-gradient);
    -webkit-animation-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.banner {
    background: var(--cor-linear-gradient);
    color: var(--cor-texto-banner);
    text-align: center;
    padding: 2.5em 3em;
}

.banner__titulo{
    font-weight: 600;
    font-size: 1.12em;
}

.banner__texto {
    font-weight: 500;
    font-size: 1.12em;
    margin: 1em 0;
}

.banner__pesquisa {
    width: 24em;
    height: 3em;
    text-align: center;
    background-color: transparent;
    border: 2px solid var(--cor-texto-banner);
    border-radius: 50px;
    color: var(--cor-texto-banner);
}

.banner__pesquisa::placeholder {
    color: var(--cor-texto-banner);
    font-weight: 500;
    font-size: 1.12em;
    background: url(../assets/Lupa.svg) no-repeat;
    background-position: 1.5em;
}